.label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.input {
    height: 35px;
    font-size: 24px;

    border-radius: 8px;
}